swagger: "2.0"
info:
  description: "The following endpoints are supported by the Quran API. They all support the HTTP GET method and return JSON."
  version: "1.0.0"
  title: "Quran API"
host: "api.alquran.cloud"
basePath: "/v1"
tags:
- name: "edition"
  description: "Available text and audio editions"
  externalDocs:
    description: "More"
    url: "https://alquran.cloud/api#collapseOne"
- name: "surah"
  description: "Get a Surah of the Quran"
  externalDocs:
    description: "More"
    url: "https://alquran.cloud/api#collapseFour"
- name: "page"
  description: "Get a Page of the Quran"
  externalDocs:
    description: "More"
    url: "https://alquran.cloud/api#collapseNine"
schemes:
- "https"
- "http"
paths:
  /edition:
    get:
      tags:
      - "edition"
      summary: "Lists all available editions."
      description: ""
      operationId: "getEdition"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
        - in: query
          name: format
          type: string
          required: false
          description: Specify a format. 'text' or 'audio
        - in: query
          name: language
          type: string
          required: false
          description: "A 2 digit language code. Example: 'en', 'fr', etc."
        - in: query
          name: type
          type: string
          required: false
          description: "A valid type. Example - 'versebyverse', 'translation' etc."
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/EditionResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
  /edition/language:
    get:  
      tags: 
        - "edition"
      operationId: "getEditionLanguages"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/EditionListResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
  /edition/language/{language}:
    get:  
      tags: 
        - "edition"
      summary: "Lists all editions for a given language"
      description: ""
      operationId: "getEditionByLanguage"
      parameters:
      - name: "language"
        in: "path"
        description: "A 2 digit language code. Example: en for English, fr for French, ar for Arabic"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/EditionResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
  /edition/type:
    get:  
      tags: 
        - "edition"
      summary: "Lists all types of editions"
      operationId: "getEditionTypes"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/EditionListResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
  /edition/type/{type}:
    get:  
      tags: 
        - "edition"
      summary: "Lists all editions for a given type"
      description: ""
      operationId: "getEditionByType"
      parameters:
      - name: "type"
        in: "path"
        description: "Type can be 'translation', 'tafsir' or another result returned in /edition/type"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/EditionResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
  /edition/format:
    get:  
      tags: 
        - "edition"
      summary: "Lists all formats"
      operationId: "getEditionFormats"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/EditionListResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
  /edition/format/{format}:
    get:  
      tags: 
        - "edition"
      summary: "Lists all editions for a given format"
      description: ""
      operationId: "getEditionByFormat"
      parameters:
      - name: "format"
        in: "path"
        description: "Format can be 'audio' or 'text'"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/EditionResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
  /surah:
    get:  
      tags: 
        - "surah"
      summary: "Returns the list of Surahs in the Quran"
      description: ""
      operationId: "getSurahList"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SurahListResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
  /surah/{surah}/{edition}:
    get:  
      tags: 
        - "surah"
      summary: "Lists all editions for a given format"
      description: ""
      operationId: "getSurahByEdition"
      parameters:
      - name: "surah"
        in: "path"
        description: "Number of surah in Quran"
        required: true
        type: "string"
      - name: "edition"
        in: "path"
        description: "Edition identifier"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/SurahResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
  /page/{page}/{edition}:
    get:  
      tags: 
        - "page"
      summary: "Get a Page of the Quran"
      description: ""
      operationId: "getPageByEdition"
      parameters:
      - name: "page"
        in: "path"
        description: "Number of page in Quran"
        required: true
        type: "string"
      - name: "edition"
        in: "path"
        description: "Edition identifier"
        required: true
        type: "string"
      - in: query
        name: offset
        type: string
        required: false
        description: "Offset ayahs in a page by the given number"
      - in: query
        name: limit
        type: string
        required: false
        description: "This is the number of ayahs that the response will be limited to"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/PageResponse"
        404:
          $ref: "#/responses/NotFound"
        429:
          $ref: "#/responses/TooManyRequests"
responses:
  NotFound:
    description: "Not Found"
    schema:
      $ref: "#/definitions/ErrorResponse"
  TooManyRequests:
    description: "Too Many Requests"
    schema:
      $ref: "#/definitions/ErrorResponse"
definitions:
  Edition:
    type: object
    properties: 
      identifier: 
        type: string
      language: 
        type: string
      name: 
        type: string
      englishName: 
        type: string
      format: 
        type: string
      type: 
        type: string
  EditionResponse:
    type: "object"
    properties:
      code: 
        type: integer
        format: int32
      status: 
        type: string
      data: 
        type: array
        items: 
          $ref: "#/definitions/Edition"
  EditionListResponse:
    type: "object"
    properties:
        status: 
          type: string
        code: 
          type: integer
          format: int32
        data: 
          type: array
          items: 
            type: string
  SurahSummary:
    type: object
    properties: 
      number: 
        type: integer
        format: int32
      name: 
        type: string
      englishName: 
        type: string
      englishNameTranslation: 
        type: string
      numberOfAyahs: 
        type: integer
        format: int32
      revelationType: 
        type: string
  SurahListResponse:
    type: "object"
    properties:
      code: 
        type: integer
        format: int32
      status: 
        type: string
      data: 
        type: array
        items: 
          $ref: "#/definitions/SurahSummary"
  SurahResponse:
    type: "object"
    properties:
      code: 
        type: integer
        format: int32
      status: 
        type: string
      data: 
        $ref: "#/definitions/Surah"
  Surah:
    type: object
    properties: 
      number: 
        type: integer
        format: int32
      name: 
        type: string
      englishName: 
        type: string
      englishNameTranslation: 
        type: string
      revelationType: 
        type: string
      numberOfAyahs: 
        type: integer
        format: int32
      ayahs: 
        type: array
        items: 
            $ref: "#/definitions/Ayah"
      edition: 
        $ref: "#/definitions/Edition"
  Ayah:
    type: object
    properties: 
      number: 
        type: integer
        format: int32
      audio: 
        type: string
      audioSecondary: 
        type: array
        items: 
          type: string
      surah:
        $ref: "#/definitions/SurahSummary"
      text: 
        type: string
      numberInSurah: 
        type: integer
        format: int32
      juz: 
        type: integer
        format: int32
      manzil: 
        type: integer
        format: int32
      page: 
        type: integer
        format: int32
      ruku: 
        type: integer
        format: int32
      hizbQuarter: 
        type: integer
        format: int32
      sajda: 
        type: boolean
    required:
      - number
      - text
      - numberInSurah
      - juz
      - manzil
      - page
      - ruku
      - hizbQuarter
      - sadja
  PageResponse:
    type: "object"
    properties:
      code: 
        type: integer
        format: int32
      status: 
        type: string
      data: 
        $ref: "#/definitions/Page"
  Page:
    type: object
    properties: 
      number: 
        type: integer
        format: int32
      ayahs: 
        type: array
        items: 
          $ref: "#/definitions/Ayah"
      edition: 
        $ref: "#/definitions/Edition"
  ErrorResponse:
    type: "object"
    properties:
        status: 
          type: string
        code: 
          type: integer
          format: int32
        data: 
          type: string
externalDocs:
  description: "Find out more about Quran API"
  url: "https://alquran.cloud/api"